---
---

<section class="p-6 rounded-2xl bg-theme-green-900 text-theme-grey-50 flex flex-col gap-6 md:w-1/2 lg:p-10 lg:gap-10">
  <div class="flex justify-between items-center gap-4">
    <div class="flex flex-col gap-1">
      <p>Tip Amount</p>
      <p class="text-sm text-theme-grey-400">/ person</p>
    </div>
    <span id="tip-amount" class="text-4xl text-theme-green-400 lg:text-5xl">$0.00</span>
  </div>
  <div class="flex justify-between items-center gap-4">
    <div class="flex flex-col gap-1">
      <p>Total</p>
      <p class="text-sm text-theme-grey-400">/ person</p>
    </div>
    <span id="total" class="text-4xl text-theme-green-400 lg:text-5xl">$0.00</span>
  </div>
  <button id="reset-calculator" class="w-full rounded-lg bg-theme-green-400/25 text-theme-green-900 text-2xl text-center px-4 py-2 transition-all duration-300 uppercase cursor-not-allowed mt-auto" disabled>Reset</button>
</section>