---
const {tip} = Astro.props;
---

<button class="tip-button text-2xl bg-theme-green-900 text-white rounded-lg py-2 px-4 cursor-pointer hover:bg-theme-green-400 hover:text-theme-green-900 transition-colors duration-300" data-selected="false">{tip}</button>