---
import '@fontsource/space-mono';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Frontend Mentor | Tip calculator app</title>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	</head>
	<body class="bg-theme-grey-200 min-h-screen flex flex-col items-center justify-center gap-8 md:gap-20 pt-20 lg:py-0">
		<slot />
	</body>
</html>
