---
import Layout from '../layouts/Layout.astro';
import Calculator from '../sections/Calculator.astro';
import Result from '../sections/Result.astro';
---

<Layout>
  <header>
    <img src="/assets/logo.svg" alt="logo">
  </header>
  <main class="max-w-5xl w-full rounded-4xl p-8 bg-white flex flex-col gap-8 md:flex-row lg:gap-10 lg:p-10">
   <Calculator />
   <Result />
  </main>
  <script src="../../src/scripts/app.js"></script>
</Layout>
