@import "tailwindcss";

@theme {
  --color-moderate-violet: hsl(263, 55%, 52%);
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --color-light-gray: hsl(0, 0%, 81%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
}

@layer base {
  html {
    font-family: "Barlow Semi Condensed", serif;
  }
}

@media (width >= 40rem) {
  .container-testimonials {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "one one"
                         "two five"
                         "three five"
                         "four four";

    article:nth-of-type(1) {
      grid-area: one;
    }
  
    article:nth-of-type(2) {
      grid-area: two;
    }
  
    article:nth-of-type(3) {
      grid-area: three;
    }
  
    article:nth-of-type(4) {
      grid-area: four;
    }
  
    article:nth-of-type(5) {
      grid-area: five;
    }
  }
}


@media (width >= 48rem) {
  .container-testimonials {
    grid-template-areas: "one two"
                         "one three"
                         "four five";
  }
}

@media (width >= 64rem) {
  .container-testimonials {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "one one two"
                         "three four four"
                         "five five five";
  }
}

@media (width >= 75rem) {
  .container-testimonials {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "one one two five"
                         "three four four five";
  }
}