---
import "../styles/global.css";
import '@fontsource-variable/roboto';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Frontend Mentor | Newsletter sign-up form with success message</title>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	</head>
	<body>
    <main class="bg-theme-blue-700 min-h-dvh flex items-center justify-center md:p-6">
		  <slot />
    </main>
	</body>
</html>
