@import "tailwindcss";

@theme {
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
}

@layer base {
  @font-face {
    font-family: "Figtree";
    font-weight: 300 900;
    font-display: swap;
    src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  }

  html {
    font-family: "Figtree", sans-serif;
  }
}