<form class="mt-2" id="form" novalidate autocomplete="off">
  <div class="mb-6">
    <div class="mb-2 flex justify-between gap-4 text-xs font-bold">
      <label class="text-theme-blue-800" for="email">Email address</label>
      <span id="error-container_email"></span>
    </div>
    <input class="placeholder:text-theme-grey border-theme-grey focus:border-theme-blue-800 text-theme-blue-700 w-full rounded-lg border px-6 py-4 outline-none transition-colors duration-300" id="email" type="email" placeholder="email@company.com">
  </div>
  <button class="btn-primary">Subscribe to monthly newsletter</button>
</form>

<script src="/src/scripts/validate.js"></script>
